
<div class="modal fade" tabindex="-1" role="dialog" id="modalEditPerson">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit a Person</h4>
            </div>
            <form id="frm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input type="text" id="FirstName" name="FirstName" placeholder="First Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" id="LastName" name="LastName" placeholder="Last Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="EmailAddress">Email Address</label>
                        <input type="email" id="EmailAddress" name="EmailAddress" placeholder="Email Address" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Country">Country</label>
                        <input type="text" id="Country" name="Country" placeholder="Country" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
