
@{
    Layout = null;
    ViewBag.Title = "Default Index";
}

<html>
<body>
    <form method="post" action="/Default/Result">
        <div>
            <input name="FirstName" type="text"/>
        </div>
        <div>
            <input name="LastName" type="text"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>

