<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind" connectionString="server=.\SQLEXPRESS;database=Northwind;trusted_connection=true;" providerName="System.Data.SqlClient"/>
    <add name="MplsMovies" connectionString="server=.\SQLEXPRESS;database=MplsMovies;trusted_connection=true;" providerName="System.Data.SqlClient"/>
    <add name="SWCCorp" connectionString="server=.\SQLEXPRESS;database=SWCCorp;trusted_connection=true;" providerName="System.Data.SqlClient"/>
    <add name="NorthwindSQLCreds" connectionString="server=.\SQLEXPRESS;database=Northwind;User Id=sa;Password=apprentice;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>